.booking {
    &__container {
        // margin: 5rem 20rem;
        line-height: 1.8;
    }

    &__heading {
        font-size: 3rem; 
        color: $color-primary;

        &--2 {
            font-size: 2rem;
        }
    }

    &__specialization {
        color: $grey;
        font-size: 1.6rem;
    }

    &__content {
        margin-top: 5rem;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        line-height: 1.8;
        margin-bottom: 1rem;
    }

    &__calender {
        // border: #ccc 1px solid;
    }


    &__form {
        background: #fcfcfc;
        -webkit-box-shadow: 0px 2px 5px 0px #cecece;
        box-shadow: 0px 2px 5px 0px #cecece;
        padding: 5rem 5.8rem;
        width: 60%;

        &--group {
            margin: 0 auto;
        }

        &--heading {
            font-size: 2rem;
        }

        &--label {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            margin: 1.8rem auto;
            padding-bottom: 0.1rem;
            text-align: left;
        }

        &__input {
            display: block;
            font-size: 1.7rem;
            margin: 0.6rem 0 2rem 0;
            padding: 1rem 1.2rem;
            width: 80%;

            &:active, &:focus {
                outline: none;
            }

            &--select {
                background: #fafafa;
                border: 0.1rem solid #a5a5a5;
                display: block;
                margin: 0.5rem auto 3rem;
                padding: 0.8rem 4rem 1rem 1.5rem;
                width: 100%;
            }
        }
    }
}