.home-footer {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-blue, 0.3),
    rgba($color-primary, 0.7) 30%,
    rgba($color-primary-darker, 1)
  );
  position: relative;
  padding: 4rem;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
    }
  }

  &__logo {
    @include respond(tab-land) {
      transform: scale(0.8);
      margin-right: 10rem;
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  &--center {
    @include respond(tab-port) {
      width: 100%;
      margin: auto;
    }
  }
}
